.login-form {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  line-height: 1.7;
  margin-top: 10px;
}

/* give classNames to inputs maybe? */
input {
  text-align: left;
  width: 60%;
  max-width: 327px;
}

#password {
  margin-left: 5.5px;
}

.description {
  width: 90%;
  margin: 0 auto;
  padding: 5px 5px;
  margin-bottom: 15px;
}

.demo {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  padding-left: 10px;
  border: 1px solid black;
  width: 90%;
  border-radius: 5px;
  margin-top: 5px;
}

.login-button {
  background-color: #D2E4C4;
}

@media only screen and (min-width: 700px) {
  input {
    max-width: 270px;
  }

  .login-form {
    max-width: 500px;
  }

  .demo {
    /* padding-left: 60px; */
    max-width: 300px;
  }
}