li {
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

span {
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
}

ul {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

button {
  background-color: white;
}

input[type='checkbox'] {
  width: 14px;
}

@media only screen and (min-width: 700px) {
  ul {
    max-width: 550px;
  }
}