.register-form {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  line-height: 1.7;
}

input {
  text-align: left;
  width: 60%;
  max-width: 327px;
}

#password {
  margin-left: 4.3px;
}

.register-button {
  background-color: #D2E4C4;
}

@media only screen and (min-width: 700px) {
  input {
    max-width: 270px;
  }
}