.addTravelForm {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  line-height: 1.7;
}

li {
  padding: 5px 0;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

p {
  display: block;
} 

ul {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

button {
  margin: 5px 5px;
  background-color: white;
}

input {
  margin-right: 5px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  ul {
    max-width: 550px;
  }

  .addTravelForm {
    max-width: 50%;
  }
}