* {
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

body {
  font-size: 20px;
}

button {
  font-size: 15px;
  border: 1px solid #808586;
  border-radius: 4px;
}

input {
  text-align: left;
}

h1, h2 {
  font-size: 35px;
}